* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

*:not(.btn, .modal-content) {
  border-radius: 0 !important;
}

input {
  border: none !important;
  border-bottom: 1px solid gray !important;
}

input:focus {
  box-shadow: 0 1px 0 #bc8c3c !important;
}

select:focus {
  box-shadow: none !important;
}

.intro label {
  padding-top: 20px;
  font-size: 13px;
}

.intro {
  max-width: 400px;
}

.intro .btn {
  color: white;
  background-color: black !important;
}

.dot-color {
  color: #bc8c3c;
  font-weight: bold;
}

.bottom-wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1000;
}

.action-btn {
  /* display: none; */
}
tr:hover .action-btn {
  display: block;
}

.table thead {
  border-bottom: 2px solid #bc8c3c !important;
  box-shadow: none !important;
}